@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #region Generic Styling Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1em;
}

/* #endregion Generic Styling End */

/* #region Main Div Styling */

#bgDiv {
    max-width: 35vw;
    flex: 1;
}

#formDiv {
    max-width: 65vw;
    flex: 1;
}

/* #endregion Main Div Styling */

/* #region bgDiv styling */

#bgDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;

    background-image: url(./assets/bgimg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-top: 20vh;

    color: #fffffff2;

    background-color: #0000004f;

    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}

#credit {
    margin-bottom: 3vh;

    color: #fffffff2;
}

#credit a {
    color: #fffffff2;
}

/* #endregion bgDiv Styling */

/* #region formDiv styling */

#formDiv {
    display: flex;
    flex-direction: column;

    background-color: #f9fafb;
}

#heading {
    min-height: 30vh;
    flex: 1;

    padding: 0 0 0 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

form {
    flex: auto;
}

#heading > h1 {
    font-size: 3em
}

/* #endregion formDiv styling */

/* #region form styling */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form>div:first-child {
    background-color: white;
    box-shadow: 0 4px 5px -2px gray;
    padding: 5vh 5vw 7vh 5vw;
}

form>div:last-child {
    padding-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


li {
    padding: 0 0 2em 0;
    display: flex;
    justify-content: space-between;

    max-width: 50vw;
    flex-wrap: wrap;
    gap: 1em;
}

li:last-child {
    padding: 0;
}

li>div {
    display: flex;
    flex-direction: column;
}

ul>h2 {
    padding-bottom: 5vh;
}

/* #endregion form styling */

/* #region Input styling */

input {
    font: inherit;

    padding: 0.2em 0.5em;
    width: 15em;

    appearance: none;

    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #1d4ed8;
    box-shadow: 4px 5px 7px -5px;
}

input:invalid {
    border: 1px solid red;
}

button[type='submit'] {
    border: none;
    border-radius: 5px;
    background-color: #09b2cf;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1em;

    padding: 1em 3em;
    margin-bottom: 2em;
    box-shadow: 4px 5px 7px -5px;


    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #0099b3;
}

label {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: 1em;
}

#signIn {
    text-decoration: none;
    color: #09b2cf;
    
    font-weight: 700;
}
/* #endregion input styling */